:root {
  --transition-duration: 0.2s;
  --accent-color: #fc7614;
  --card-backgrounds: #262e38;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  padding: 15px;
  margin: 0;
  background-color: #131518;
  display: flex;
  flex-direction: column;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  color: #969fad;
  font-size: 15px;
  line-height: 1.6;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  text-align: center;
  line-height: 1.1;
}

.card {
  max-width: 412px;
  min-height: 416px;
  width: 100%;
  margin: auto;
  padding: 32px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 30px;
}

.card__content {
  height: 100%;
}

.card__star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-bottom: 30px;
  background-color: var(--card-backgrounds);
  border-radius: 50%;
}

.card__title {
  margin-bottom: 7px;
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.25;
}

.card--main .card__description {
  margin-bottom: 24px;
}

.card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.card__rating-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #7c8798;
  background-color: var(--card-backgrounds);
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: var(--transition-duration);
}

.card__rating-number--selected {
  color: #fff;
  background-color: #7c8798;
}

@media (hover: hover) and (pointer: fine) {
  .card__rating-number:hover:not(.card__rating-number--selected) {
    background-color: var(--accent-color);
    color: #fff;
  }
}

.card__submit-button {
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  padding: 11px 16px;
  appearance: none;
  background-color: var(--accent-color);
  border-radius: 22px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.26;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  transition-property: background-color, color;
  transition-duration: var(--transition-duration);
}

@media (hover: hover) and (pointer: fine) {
  .card__submit-button:hover {
    background-color: #fff;
    color: var(--accent-color);
  }
}

.card--completion .card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card--completion .card__description {
  max-width: 340px;
  width: 100%;
}

.card__image {
  margin-bottom: 32px;
}

.card__selected-stat {
  max-width: 195px;
  width: 100%;
  min-height: 32px;
  margin-bottom: 32px;
  padding: 6px 20px 4px;
  background-color: var(--card-backgrounds);
  border-radius: 22px;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  color: var(--accent-color);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.attribution,
.attribution a {
  color: #fff;
}

@media screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }

  .card {
    min-height: 360px;
    padding: 24px;
  }

  .card__title {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .card__rating {
    max-width: 325px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }

  .card__rating-number {
    width: 42px;
    height: 42px;
  }

  .card__image {
    max-width: 144px;
    margin-bottom: 24px;
  }

  .card__selected-stat {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 1.57;
  }
}
